
secret:
  existingSecret: ""
  name: ""
  POSTGRES_DB: "user"
  POSTGRES_USER: "user"
  POSTGRES_PASSWORD: ""      # A random password will be generated if not given

postgres:
  name: "postgres"
  image:
    repository: postgres
    tag: "18.1"
  storage:
    data:
      enabled: true
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteOnce
      path: "/var/lib/postgresql"
      size: 2Gi
    extraVolumes: []
    extraMounts: []
  service:
    enabled: true
    type: ClusterIP
    port: 5432

app:
  image:
    repository: ghcr.io/adomi-io/odoo
    tag: 19.0
  labels: {}
  podLabels: {}
  annotations: {}
  podAnnotations: {}
  service:
    annotations: {}
    spec:
      type: ClusterIP
      ports:
        - name: webservice
          protocol: TCP
          port: 8069
          targetPort: 8069
        - name: polling
          protocol: TCP
          port: 8072
          targetPort: 8072
  storage:
    mounts:
      - name: data
        enabled: true
        path: "/volumes/data"
        size: 10Gi
      - name: addons
        enabled: false
        accessMode: ReadWriteOnce
        path: "/volumes/addons"
        size: 10Gi
