---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ (printf "%s-%s" .Release.Name "app" ) | quote }}
  labels:
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | default "Helm" | quote }}
    app.kubernetes.io/name: {{ include "fullname" . | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | default .Chart.Version | quote }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "fullname" . }}
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        app.kubernetes.io/managed-by: {{ .Release.Service | default "Helm" | quote }}
        app.kubernetes.io/name: {{ include "fullname" . | quote }}
        app.kubernetes.io/version: {{ .Chart.AppVersion | default .Chart.Version | quote }}
    spec:
      volumes:
        {{- range $sc := .Values.app.storage.mounts }}
        {{- if $sc.enabled }}
        - name: {{ $sc.name }}
          persistentVolumeClaim:
            claimName: {{ $sc.existingClaim | default (printf "%s-%s-data" $.Release.Name "app") }}
        {{- end }}
        {{- end }}
      containers:
        - name: app
          image: {{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}
          ports:
            {{- range $p := .Values.app.service.spec.ports }}
            {{- $port := default $p.port $p }}
            - containerPort: {{ $port.port }}
              {{- if and (kindIs "map" $p) $p.protocol }}
              protocol: {{ $p.protocol }}
              {{- end }}
            {{- end }}
          volumeMounts:
            {{- range $sc := .Values.app.storage.mounts }}
            {{- if $sc.enabled }}
            - name: {{ $sc.name }}
              mountPath: {{ $sc.path }}
            {{- end }}
            {{- end }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "secretName" . }}
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "secretName" . }}
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: {{ include "secretName" . }}
                  key: POSTGRES_DB
