---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fullname_app" . | quote }}
  labels:
{{ include "mergeLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.app.replicaCount | default 1 }}
  selector:
    matchLabels:
      app: {{ include "fullname_app" . | quote }}
  template:
    metadata:
      labels:
{{ include "mergePodLabels" . | nindent 8 }}
    spec:
      {{- if .Values.app.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.app.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ default "" .Values.app.serviceAccountName | quote }}
      affinity:
{{ toYaml .Values.app.affinity | nindent 8 }}
      nodeSelector:
{{ toYaml .Values.app.nodeSelector | nindent 8 }}
      tolerations:
{{ toYaml .Values.app.tolerations | nindent 8 }}

      {{- $root := . }}
      volumes:
{{- range $sc := .Values.app.storage.mounts }}
{{- if $sc.enabled }}
        - name: {{ $sc.name }}
          persistentVolumeClaim:
            {{- if $sc.existingClaim }}
            claimName: {{ $sc.existingClaim | quote }}
            {{- else }}
            claimName: {{ printf "%s-%s" (include "fullname" $root) $sc.name | quote }}
            {{- end }}
{{- end }}
{{- end }}

      securityContext:
        fsGroup: 1000
      containers:
        - name: app
          image: {{ printf "%s:%s" .Values.app.image.repository .Values.app.image.tag | quote }}
          imagePullPolicy: {{ .Values.app.image.pullPolicy | default "IfNotPresent" | quote }}
          ports:
{{- range $p := .Values.app.service.ports }}
            - containerPort: {{ default $p.targetPort $p.port }}
              {{- if $p.protocol }}
              protocol: {{ $p.protocol }}
              {{- end }}
{{- end }}
          resources:
{{ toYaml .Values.app.resources | nindent 12 }}
          livenessProbe:
{{- if .Values.app.livenessProbe }}
{{ toYaml .Values.app.livenessProbe | nindent 12 }}
{{- else }}
{{ include "defaultLivenessProbe" . | nindent 12 }}
{{- end }}
          readinessProbe:
{{- if .Values.app.readinessProbe }}
{{ toYaml .Values.app.readinessProbe | nindent 12 }}
{{- else }}
{{ include "defaultReadinessProbe" . | nindent 12 }}
{{- end }}
          volumeMounts:
{{- range $sc := .Values.app.storage.mounts }}
{{- if $sc.enabled }}
            - name: {{ $sc.name }}
              mountPath: {{ $sc.path }}
{{- end }}
{{- end }}
          env:
            - name: ODOO_WORKERS
              value: "0"
            - name: ODOO_MAX_CRON_THREADS
              value: "1"
            - name: ODOO_LIMIT_MEMORY_HARD
              value: "1677721600"
            - name: ODOO_LIMIT_MEMORY_SOFT
              value: "629145600"
            - name: ODOO_LIMIT_TIME_CPU
              value: "60000"
            - name: ODOO_LIMIT_TIME_REAL
              value: "120000"
            - name: ODOO_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "secretName" . | quote }}
                  key: POSTGRES_USER
            - name: ODOO_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "secretName" . | quote }}
                  key: POSTGRES_PASSWORD
            - name: ODOO_DB_HOST
              value: {{ if .Values.postgres.externalHostName }}{{ .Values.postgres.externalHostName | quote }}{{ else }}{{ include "fullname_postgres" . | quote }}{{ end }}
#            - name: ODOO_DB_NAME
#              valueFrom:
#                secretKeyRef:
#                  name: {{ include "secretName" . | quote }}
#                  key: POSTGRES_DB
            - name: ODOO_DB_PORT
              value: "{{ .Values.postgres.service.port | default 5432 }}"
